{% extends 'mailing/base.html' %}
{% load my_tags %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h3>Блог</h3>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a type="button" class="btn btn-sm btn-secondary" href="{% url 'blog:create_blog' %}">Создать запись</a>
    </div>
</div>
<div class="row text-center">
    {% for object in object_list %}
    {% if object.is_published %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img class="rounded form-control"
                 style='width: 300px;height: 300px;overflow: hidden;margin: 20px; object-fit: contain'
                 alt="Image"
                 onerror="this.src='https://cdn.pixabay.com/photo/2012/02/16/12/09/blog-13443_640.jpg'"
                 src="{% mediapath object.image %}"/>
            <div class="card-body">
                <h3 class="card-title pricing-card-title">{{ object.title|truncatechars:30 }}</h3>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <p>{{ object.text|truncatechars:100 }}</p>
                </ul>
                <a href="{% url 'blog:detail_blog' object.pk %}" type="button"
                   class="btn btn-primary btn-block btn-outline-dark mt-auto">Подробнее</a>
            </div>
        </div>
    </div>
    {% else %}
    {% if perms.update_blog or request.user.is_superuser %}
    <div class="col-4">
        <div class="card mb-4 box-shadow">
            <img class="rounded form-control"
                 style='width: 300px;height: 300px;overflow: hidden;margin: 20px; object-fit: contain'
                 alt="Image"
                 onerror="this.src='https://cdn.pixabay.com/photo/2012/02/16/12/09/blog-13443_640.jpg'"
                 src="{% mediapath object.image %}"/>
            <div class="card-body">
                <h3 class="card-title pricing-card-title">{{ object.title }}</h3>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <p>{{ object.text|truncatechars:100 }}</p>
                </ul>
                <a href="{% url 'blog:detail_blog' object.pk %}" type="button"
                   class="btn btn-primary btn-block btn-outline-dark mt-auto">Подробнее</a>
                <a href="{% url 'blog:update_blog' object.pk %}" type="button"
                   class="btn btn-primary btn-block btn-warning mt-1">Опубликовать</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% empty %}
    <p>Нет записей.</p>
    {% endfor %}
</div>
{% endblock %}
