{% extends 'mailing/base.html' %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-6">Восстановление пароля</h1>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <form method="post" enctype="multipart/form-data">
                <div class="d-grid gap-2 col-5 mx-auto mt-5">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <div class="card-footer">
                    <div class="d-grid gap-2 col-7 mx-auto ">
                    <button type="submit" class="btn btn-dark mt-2 ">Восстановить пароль</button>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
